    body{
        margin: 0 auto;
    }
    header{
        width: 100%;
        background-color: rgb(23, 47, 98);
        height: 15%;
        text-align: center;
    }
    header .nav-head{
        color: #fff;
        font-size: 4vw;
        font-family: Arial;
        padding: .7% 0;
    }
    header .nav-sign{
        position: absolute;
        right: 10%;
        top: 3%;
        width: 8%;
    }
    .nav-sign a{
        font-family: arial;
        color: #fff;
        background-color: #cc0000;
        font-size: 1vw;
        border: .02vw solid #cc0000;
        padding: 7% 28%;
        margin: 15% auto 12%;
        width: 100%;
        text-decoration: none;
        text-align: center;
    }
    main{
        display: block;
        background-color: #fff;
        margin: 0 auto;
    }
    .container-1{
        position: relative;
        margin: 0 auto;
    }
    .center-box{
        position: absolute;
        display: flex;
        left: 20%;
        top: 15%;
    }
    .button-side{
        display: flex;
        flex-direction: column;
        margin: 0 -2%;
    }
    .left-side{
        display: flex;
        flex-direction: column;
        margin: 0 8%;
    }
    .right-side{
        display: flex;
        padding: 1%;
        flex-direction: row;
        width: 39%;
    }
    .right-side img{
        width: 80%;
    }
    .button-side a{ 
        font-family: arial;
        color: #fff;
        background-color: #cc0000;
        font-size: 1vw;
        border: .02vw solid #cc0000;
        padding: 9%;
        margin: 15% auto 10%;
        width: 108%;
        text-decoration: none;
        text-align: center;
    }
    /*BOXES*/
    .event-box{
        background-color: #fff;
        border: #000 solid .05vw;
    }
    .event-box .event-log{
        
    }
    .issue-box{
        background-color: #fff;
        border: #000 solid .05vw;
    }
    .issue-box .issue-log{
        
    }
    .event-box, 
    .issue-box{
        margin: 5% auto;
        width: 125%;
        min-height: 350px;
    }
    .log{
        font-size: 1.5vw;
        font-family: Didot;
        padding: 3%;
        color: #000;
    }
    /*BOXES END*/
    